@use '@angular/material' as mat;
@include mat.core();
$my-palette: mat.define-palette(mat.$indigo-palette);
$primary: mat.define-palette(mat.$indigo-palette, 500);


.header-menu {
  padding: 16px;
  display: flex;
  gap: 0 15px;
  font-size: 18px;
  background-color: mat.get-color-from-palette($primary);
  a {
    color: mat.get-color-from-palette($my-palette, '300-contrast');
    text-decoration: none;
    &.active,
    &:hover {
      text-decoration: underline;
    }
  }
}
