<h2>Add new driver</h2>
<form [formGroup]="fg" (submit)="submit()">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Driver name</mat-label>
    <input matInput placeholder="John " value="" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Driver surname</mat-label>
    <input matInput placeholder="Doe" value="" formControlName="surname">
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="example@example.com" value="" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="birthDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div class="mat-form-field">
    <mat-label>Driver status:</mat-label>
    <mat-checkbox color="primary" formControlName="active">Active</mat-checkbox>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Vehicle Registration Number</mat-label>
    <mat-select formControlName="vehicleId" required>
      <mat-option *ngFor="let vehicle of vehicles$ | async" [value]="vehicle.id">
        {{vehicle.registrationNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="btn-block">
    <button mat-raised-button color="primary" type="submit">Save</button>
    <button mat-raised-button color="accent" type="button" (click)="close()">Close</button>
  </div>
</form>
